@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #ff2d2d, #1f1f1f);
    height: 100vh;
    font-family: "Inter", sans-serif;
}

.cabecalho{
    background-color: rgb(199, 0, 0);
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 30px;
}

.logo{
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.menu-toggle{
    display: none;
}

.barra_nav{
    background-color: rgba(51, 51, 51, 0.514);
    border-radius: 20px;
    padding: 20px;
    margin: 100px 20px;
}

.barra_nav a{
    background: linear-gradient(to right, #3a3a3a, #bdbdbd);
    text-decoration: none;
    display: block;
    position: relative;
    padding: 13px 10px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    color: #ddd;
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.barra_nav a:hover{
    background: linear-gradient(to right, #ff2d2d, #bdbdbd);
}

aside{
    position: absolute;
    width: 225px;
    height: 330px;
    padding: 32px 24px;
    background: rgba(40, 40, 40, 0.25);
    border-radius: 10px;
    border: 2px solid #191919;
    margin: 50px 0;
}

.campoBusca {
    margin: 50px 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.campoBusca label{
    color: white;
    margin-right: 10px;
    font-size: 18px;
}

.campoBusca input{
    width: 100%;
    max-width: 350px;
    padding: 10px 14px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 12px;
}

.dashboard{
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
}

.relatorio_card{
    background-color: #333;
    min-height: 370px;
    margin: 10px 20px 20px 0;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.relatorio_card h1{
    color: white;
    margin-bottom: 30px;
}

table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 14px;
}

thead{
    background-color: #ff3038;
}

th{
    padding: 15px;
    color: white;
    font-weight: 500;
}

td{
    padding: 14px;
    text-align: center;
    color: white;
    background-color: #3d3d3d;
    border: 1px solid #505050;
}

tbody tr:hover td{
    background-color: #505050;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: flex-end;
    margin: 30PX;
    font-size: 18px;
}

footer a{
    text-decoration: none;
    color: white;
}

#boas-vindas{
    background: linear-gradient(90deg, #b30000, #ff2d2d);
    color: white;
    padding: 15px 25px;
    margin: 20px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.linha-escondida {
  display: none;
}

@media (max-width: 768px){
    .cabecalho{
        display: flex;
        justify-content: space-between;
        font-size: 22px;
    }

    .cabecalho h1{
        font-size: 28px;
        margin: 12px 0px;
    }

    .logo{
        order: -1;
        width: 60px;
        height: 60px;
        margin: 0px;
    }

    .menu-toggle{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        padding: 8px;
        border: 1px solid #333;
        border-radius: 7px;
        background: #777;
        cursor: pointer;
        order: 999;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .menu-toggle img{
        width: 28px;
        height: 28px;
        object-fit: contain;
    }

    .barra_nav{
        display: none;
        position: absolute;
        z-index: 10;
        top: 80px;
        right: 15px;
        width: auto;
        height: auto;
        margin: 0;
    }

    .barra_nav.menu-aberto{
        display: block;
    }

    .menu-aberto{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: first baseline;
        width: 250px;
    }

    .barra_nav a{
        width: 100%;
    }
    
    .dashboard{
        margin-left: 0;
        width: 100%;
        padding: 15px;
    }

    .relatorio_card{
        width: 100%;
        margin: 0;
        overflow-x: auto;
    }

}