@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #ff2d2d, #1f1f1f);
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

.logo{
    border-radius: 50%;
    margin: 5px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
    padding: 20px;
}

.form{
    background-color: rgba(143, 143, 143, 0.863);
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: min(400px, 100%);
    height: 500px;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form h1{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 28px;
}

.perfil{
    margin: 0 auto;
    border-radius: 50%;
}

a{  
    margin: auto 0;
}

label{
    display: block;
    text-align: left;
    margin: 5px;
    padding: 0;
}

input{
    border-radius: 10px;
    outline: none;
    height: 35px;
    border: none;
    padding: 10px;
    width: 100%;
}

.login{
    background-color: rgb(29, 29, 29);
    color: #fff;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    border-radius: 12px;
}

.login:hover{
    transition: 0.5s;
    background-color: rgb(48, 48, 48);
}

.registrar{
    background-color: rgb(134, 0, 0);
    color: #fff;
    margin: auto 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    border-radius: 12px;
    text-decoration: none;
}

.registrar:hover{
    transition: 0.5s;
    background-color: rgb(184, 0, 0);
}

a{
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}

.footer a{
    color: white;
}

.footer a:hover{
    text-decoration: underline;
}

@media (max-width: 768px){
    /* body{
        min-height: 100vh;
    } */
    .logo{
        width: 60px;
        height: 60px;
        margin: 20px 30px;
        display: flex;
        justify-content: flex-start;
    }

    main{
        padding: 10px 15px;
    }

    .form{
        max-width: 400px;
        width: 100%;
        height: auto;
        min-height: 0;
        padding: 20px;
        border-radius: 20px;
        margin: 30px auto;
    }

    .form h1{
        margin: 5px 0 10px;
        font-size: 25px;
    }

    .perfil{
        width: 75px;
        height: 75px;
        margin-bottom: 10px;
    }

    label{
        font-size: 15px;
        margin: 5px 0;
    }

    input{
        width: 100%;
        height: 30px;
        font-size: 15px;
        margin: 0;
    }

    .senha{
        font-size: 14px;
        margin-top: 8px;
    }

    .login{
        width: 100%;
        font-size: 15px;
        margin: 10px 0;
    }

    .registrar{
        width: 100%;
        font-size: 15px;
        margin: 10px 0 20px;
    }
}

/* @media (max-width: 380px){
    main{
        padding: 10px;
    }

    .form{
        padding: 15px;
        margin: 100px auto;
    }

    .form h1{
        font-size: 22px;
    }

    .perfil{
        width: 65px;
        height: 65px;
    }
} */